:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
  --color-white: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding-left: 0;
  margin: 0;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}

.container {
    width: 1158px;
    margin: 0 15px;
    margin: 0 auto;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--color-slate);
}

/* !----------Header---------- */

.header {
    display: flex;
}

.header-container {
    display: flex; 
    box-sizing: border-box;
    justify-content: space-between;
    padding: 24px 15px; 
    background: #FFFFFF;     
    border-bottom: 1px solid #E7E9FC;           
}
.header-nav {
   display: flex;
   align-items: center;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--color-iris);
  text-transform: uppercase;
}
.web-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--color-navy-blue);
}

.header-list {
   display: flex;
   font-display: row;
   align-items: center;
   padding: 0;
   gap: 40px;
   margin-left: 76px;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.header-list-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
}
.header-list-item:hover,
.header-list-item:focus {
  color: var(--color-ocean);
}

.header-navig {
 display: flex;
 gap: 40px;
 justify-content: flex-end;
}

.header-navig-item {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}
.header-navig-item:hover,
.header-navig-item:focus {
  color: var(--color-ocean);
}
.header-address {
   display: flex;
   margin-left: 332px;
   
}

/* !----------Caption---------- */

.caption {
  background-color: var(--color-navy-blue);
}
.caption-container {
  padding: 188px 0;
}

.caption-text {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--color-white);
margin-bottom: 48px;
}

.caption-btn {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white);
  background-color: var(--color-iris);
 display: block;
margin: 0 auto;
}

.caption-btn:hover,
.caption-btn:focus {
  background-color: var(--color-ocean);
}
/* !----------HERO---------- */

.hero {
}
.hero-text-none {
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.hero-list {
  display: flex;
  gap: 24px;
  padding: 120px 0;
}
.hero-list-item {
}
.hero-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
  margin-bottom: 8px;
}
.hero-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}

/* ! -----------DOING------------ */
.doing {
}
.doing-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--color-navy-blue);
  margin-bottom: 72px;
}
.doing-list {
  display: flex;
  gap: 24px;
  padding-bottom: 120px;
  align-items: center;
}
.list {
}
.doing-list-item {

}

/* !---------------TEAM---------------- */

.team {
  background-color: var(--color-cloud);
}
.container-team {

}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--color-navy-blue);
  padding-top: 120px;
  padding-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  padding-bottom: 120px;
}
.team-item {
  background-color: #FFFFFF;
  text-align: center;
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
  margin: 32px 0 8px 0;
}
.team-prof {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
  margin: 0 0 32px 0;
}

/* !------------FOOTER-------------- */

.footer {
  background-color: var(--color-navy-blue);
}

.container-footer {
  padding: 100px 1020px 100px 156px;
  width: 264px;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
}
.footer-logo-item {
  font-family: "Raleway" sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--color-cloud);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-cornflower);
}

.footer-logo:hover,
.footer-logo:focus {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
}

/* !-----------------PORTFOLOI---------------------- */

.portfolio {
  padding-bottom: 120px;
}
.portfolio-list-btn {
  display: flex;
  gap: 24px;
  justify-content: center;
  padding-top: 96px;
  padding-bottom: 72px;
}
.portfolio-btn {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-iris);
  background-color: var(--color-cloud);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--color-white);
  background-color: var(--color-ocean);
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  
}
.portfolio-list-item {
  border: 1px solid #E7E9FC;
 
}
.portfolio-list-item:not((nth-child(n+7))) {
  margin-bottom: 48px;
}

.portfolio-item {
 
}

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
  margin: 32px 0 8px 16px;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
  margin: 0 0 32px 16px;
}
